

@font-face {
    font-family: "Jersey 20";
    src: url("Jersey20-Regular.ttf");
}

body {
    color: rgb(41, 109, 235);
    background: rgb(195, 189, 189);
     font-family: "Jersey 20"; 

    
}

#logo{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10vw
}


.info{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}


.info section {
    
    border-radius: 20px;
    border-width: .1em;
    border-color: #787777;
    border-style: solid;
    flex-grow: 1;
    background: hsl(0, 0%, 82%);
    width: 30vw;

    margin:auto;
    padding:10px;
    
}

#Attendance:hover, #Agenda:hover, #Notes:hover, #Misc:hover, #Recording:hover{
    text-transform:initial;
}

.divspan{
    display:none;
}

.contact{
    display:grid;

}
button:active{
    background-color: color-mix(in srgb, black 50%, white 50%);
} 

