

@font-face {
    font-family: "Jersey 20";
    src: url("Jersey20-Regular.ttf");
}

*{
    font-family: "Jersey 20"; 
}
body {
    color: rgb(41, 109, 235);
    background: rgb(195, 189, 189);


    
}

#logo{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10vw
}


.info{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}


.info section {
    
    border-radius: 20px;
    border-width: .1em;
    border-color: #787777;
    border-style: solid;
    flex-grow: 1;
    background: hsl(0, 0%, 82%);
    width: 30vw;

    margin:auto;
    padding:10px;
    
}

#Attendance:hover, #Agenda:hover, #Notes:hover, #Misc:hover, #Recording:hover{
    background-color: rgba(0, 255, 255, 0.117);
}

.divspan{
    display:none;
}

.contact{
    display:grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 5%;
    
   
}
.contact >label{
    color:red;
    grid-column-start: 1;
    button{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
.contact >input,select,textarea{
    color:rgb(255, 0, 204);
    grid-column-start: 2;

}

[name="car"]{
    color:rgb(255, 0, 204);
    grid-column-start: 2;
}
button:active{
    background-color: color-mix(in srgb, black 50%, white 50%);
} 

