

@font-face {
    font-family: "Jersey 20";
    src: url("Jersey20-Regular.ttf");
}

body {
    color: limegreen;
    background: rgb(0, 0, 0);
    font-family: "Jersey 20";
    text-decoration: dashed;
    text-align: center;
}

#logo{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10vw
}

.nav{
    border:.1em solid #ffffff;
    background: hsl(0, 0%, 58%);
    width:40vw;
    margin: auto;
}